body{
  font-family: "Poppins", "Padauk", sans-serif;
}

.main-theme{
  background-color: #00a8e5 !important;
}

.main-color{
  color: #00a8e5 !important;
}

.login{
  display: flex;
  justify-content: center;
  background-color: #eef5f9;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.login-prompt{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: .5rem;
  padding: 2rem;
}

.v-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo{
  height: 64px;
  width: 100%;
  text-align: center;
}

.logo img{
  width: 60px;
}

.content-wrapper{
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: .5rem;
  height: calc(100% - 10px);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content-wrapper::-webkit-scrollbar {
  display: none; /* for chrome */
}

.table-action{
  color: #00a8e5
}

.table-action:hover{
  cursor: pointer;
  text-decoration: underline;
}

.setting{
  text-align: right;
  margin: .5rem 2rem 0 1rem;
}

/* cashier */
.bill-input-form{
  margin: .5rem;
  padding: 2rem .5rem .5rem .5rem;
  border: 1px solid rgba(78, 78, 78, 0.185);
  border-radius: 5px;
}

.patient-input{
  border-bottom: solid 1px rgba(146, 146, 146, 0.185) !important;
}

.remove-action{
  color: red
}
.remove-action:hover{
  text-decoration: underline;
  cursor: pointer;
}

.invoice-receipt{
  margin: 1rem;
}

.invoice-receipt .title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.invoice-receipt .patient-info{
  line-height: .5rem;
  font-size: 1rem;
  font-weight: 500;
}
